<div id="bannerimage">

</div>
<div class="jumbotron-fluid rounded mt-3">
    <div  class="card bg-light">
        <h1 class="title-card">LecturApp</h1>
        <p class="lead card-text">Lrem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <hr class="my-2">
        <p class="ml-4 mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim inventore animi sint, 
            velit deserunt maxime magni tempore quaerat labore natus hic nemo excepturi 
            eum ullam esse debitis, consequatur quas unde.</p>

    </div>
    <div class="text-center">
        <a href="https://google.es" class="btn btn-primary mt-3">Google</a>
    </div>
        
</div>